a,a:hover{
    color:#ffff !important
}

.list-item{
    list-style-type: none;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
    border-bottom: 2px solid rgb(240,240,240);
    display: inline;
}

.sidebar-inner{
    border-right: 2px solid rgb(240,240,240);
    padding: 15px;
    background-color: #3f51b5;
}